.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    width:clamp(400px, 50%, 700px);
}
@media (max-width:60em){
    .form-container{
        margin-top: auto;
        height: 50vh;

    }
}

.input{
    display: grid;
}
.input-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5em;
}
.dateInputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5em;
}
.cvcInput{
    display: grid;
}
.dateInputs input{
    width: 100%;
    min-width: 60px;
}

input{
    height:50px;
    padding-left: 15px;
    border-radius: 10px;
    border: 1px solid hsl(270, 3%, 87%);
    margin-top: 10px;
}

input:focus{
    outline: none;
    border: 1px solid;
    border-image: linear-gradient(to bottom, hsl(249, 99%, 64%),hsl(278, 94%, 30%)),1 100%;
}

.errorText{
    color: hsl(0, 100%, 66%);
}
button{
    width: 100%;
    height: 50px;
    margin-top: 40px;
    background: hsl(278, 68%, 11%);
    color: white;
    border: none;
    border-radius: 10px;
}